/* 
    #fff   
    #3a3a3a
    #6626A0 
    #905EB8
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

header{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    width: 100px;
    height: 110px;
}

ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

ul li a{
    padding: 0 20px;
    text-decoration: none;
    color: #3a3a3a;
    display: inline-block;
}

li a::after{
    content: '';
    display: block;
    height: 4px;
    width: 0;
    background: #905EB8;
    transition:all .5s;
}

li a:hover::after{
    width: 100%;
}

main{
    display: flex;
    /*border: 1px solid rebeccapurple;*/
    height: calc(100vh - 100px);
    align-items: center;
    justify-content: center;
}

.bg-image{
    max-width: 670px;
    height: auto;
}

.left-content{
    width: 30%;
}

main h1{
    font-size: 54px;
    color: #6626A0;
    text-transform: uppercase;
}

main h2{
    font-size: 25px;
    color: #2F3C48;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
}

main p{
    font-size: 14px;
    font-weight: 400;
    color: #1F2830;
    line-height: 31.5px;
    margin: 30px 0;
}

.learn_more-btn{
    padding: 15px 30px;
    background: #6626A0;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;
}

.learn_more-btn::after{
    content: '';
    height: 3px;
    width: 0;
    background-color: #fff;
    display: block;
    transition: all .5s;
}

.learn_more-btn:hover::after{
    width: 100%;
    
}

.sign-up{
    padding: 10px 15px;
    background: #7d30c6;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 50px;

}

.sign-up::after{
    background-color: #fff;
}